<nav>
  <div class="nav-wrapper blue">
    <a href="#!" class="brand-logo center">{{title}}</a>
    <ul class="left hide-on-med-and-down">
      <!-- <li routerLinkActive="active"><a [routerLink]="[ '/i-tech']">I-Tech</a></li> -->
      <li routerLinkActive="active"><a [routerLink]="['']">Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="[ 'sport']">Sport</a></li>
      <li routerLinkActive="active"><a [routerLink]="[ 'culture']">Culture</a></li>
      <li routerLinkActive="active"><a [routerLink]="[ '/politique']">Politique</a></li>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!-- <li><a (click)="login()">Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="[ '/add-post']">add-post</a></li> -->
    </ul>
  </div>
</nav>

<!-- <div class="slider">
  <ul class="slides">
    <li>
      <img src="../assets/Images_cool/africa24.jpg">
      <div class="caption center-align">
        <h3>Fil-Info4j4</h3>
        <h5 class="light grey-text text-lighten-3">L'info avec nous.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/Images_cool/ronaldo.jpg">
      <div class="caption left-align">
        <h3>Les news sur le sport</h3>
        <h5 class="light grey-text text-lighten-3">Qu'a fait messi ou ronaldo ce week-end? c'est dans 
          la categories sport.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/Images_cool/nike.jpg">
      <div class="caption right-align">
        <h3>La culture</h3>
        <h5 class="light grey-text text-lighten-3">Naturellement quelque chose de tres important, decouverz
          les dernieres actus sur la culture.</h5>
      </div>
    </li>
    <li>
      <img src="../assets/Images_cool/messi.jpg">
      <div class="caption center-align">
        <h3>La politique</h3>
        <h5 class="light grey-text text-lighten-3">Peut etre serez vous politicien???.</h5>
      </div>
    </li>
  </ul>
</div> -->

 <div class="container">

  <router-outlet></router-outlet>
</div>

<!-- 
  //"src/assets/materialize/css/materialize.min.css",
  //"src/assets/css/lesFonts.css",
  //"src/styles.css"

  //"src/assets/jquery/jquery.min.js",
              //"src/assets/materialize/js/materialize.min.js"
 -->  